<div class="card-columns text-center">
  <% @listings.each do |listing| %>
    <div class="card">
      <% if listing.image.attached? %>
        <%= image_tag listing.image, class: 'card-img-top' %>
      <% else %>
        <%= image_tag 'default-image.jpg', class: 'card-img-top' %>
      <% end %><br/>
      <div class="card-body">
        <h2><%= listing.name %></h2><br/>
        <p><%= number_to_currency listing.price %></p>
        <p><%= "Sold by #{listing.user.name}" %></p>
        <%= link_to 'Show', listing, class: 'btn btn-link stretched-link' %>
        <% if (user_signed_in?) && (current_user == listing.user) %>
          <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %>
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br/>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
<% end %>
